
.jumbotron__custom{
    background: $color-secondary;
    color: $color-light;
    height: calc(100vh - 56px);
    padding-bottom: 0;
    margin-bottom: 0;
    border-radius: unset;
}

.custom_view_container{
	border-radius: 3px;
    background: $gradient-light;
    padding: 15px 5px;
    box-shadow: 4px 4px 19px 2px $color-primary;
}