
// Primary colors
$color-primary: #363636;
$gradient-primary: linear-gradient(141deg,#46403f 0,#363636 71%,#1f191a 100%);

// Secondary color
$color-secondary: #167df0;
$gradient-secondary: linear-gradient(141deg, #0286d1 0%, #167df0 71%, #2868f7 100%);

// light colors
$color-light: #f5f5f5;
$gradient-light: linear-gradient(141deg, #fff 0, #eae8e8 71%, #c5c5c5 100%);
